  /*-----------------------------------------------------------------------------------
 ---------------------HEADER-------------------------------------------------------*/

 #header{
    padding-top: 0.1em;
    padding-bottom:0.1em;
    display: flex;
    justify-content: space-between;
 }

 #logo{
     width:60%;
     margin-top: 0.7em ;
     margin-bottom: 1%;
     
  
     
 }


 #menu{
     display:block;
     background-image: url('../Images/menumobile.png');
     background-position: center;
     background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 110px;
    height: 110px;
    float:right;
    margin-top:1em;
    margin-right: 4% ;
    margin-bottom: 1%;
    
 
  
 }
 
#accesso{
    display: none;
}

 #menu a{
     display:none;
 }

 #menu #linkCorrente{
     display:none;
 }



#accesso input{
    display:none;
}

/*----------------------------------------------------------------------------------
---------------------------CONTENUTOHOME---------------------------------------*/
.chitCard, .accCard{  
    display:inline-block; 
    margin-left: 10%;
    width:80%
    
}



.chitarre{
    width:50%;  
}

.accessori, .chitarre{
    width: 13em;
    height: 13em;
    margin-bottom: 20px;
    margin-top: 5px;
}


p{
    font-size:1.8em;
}

.contenuto h1{
    font-size:4em;
}

.chitCard li, .accCard li{
    
    height: 400px;
    
}

/*--------------------------------------------------------------------------------------
----------------------------------SERVIZI---------------------------------------------------*/

.img_servizi{
    display:none;
}

#contenutoServizi p{
    padding-bottom: 0.5em;
    width: 100%;
}

.email{
    
    font-size: 1.6em;
}

/*------------------------------------------------------------------------------------------------------
---------------------------------CHISIAMO----------------------------------------------*/
iframe{
    width: 100%;
    position: unset;
    margin-left: unset;
    margin-bottom: 3em;
    height: 400px;

}

#descrizioneChi{
    margin-right:0;
    border-right: 0;
    width: 100%;
    margin-bottom: unset;
    
}


/*-----------------------------------------------------------------------------------------
--------------------------------PRODOTTI---------------------------------------------------*/






/*-----------------------------------------------------------------------------------------
--------------------------------PRODOTTI-FILTRI--------------------------------------------*/



#colonna_filtri{
    display: unset;
    position: absolute;
    width: 100%;
}

#colonna_filtri form fieldset{
    
    margin-bottom: 10%;
}

#colonna_filtri form fieldset label{
    font-size:1.8em; 
    
}

input[type='radio'] {
    margin-bottom:5%;
    width: 20px;
    height: 20px;
}

#colonna_filtri form fieldset legend{
    font-size:1.7em;
    
}
#tipologia{
    width:300px;
    font-size:1.9em;
}

#produttore{
    width:400px;
    font-size:1.9em;
}

#CercaSubmit{
    margin-left:28%;
    margin-bottom: 5%;
    width:200px;
    height: 50px;
    font-size: 2em;
    border: 1px solid #000;
}

#menuProdotti{
    display: flex;
}

#menuProdotti a{
    padding: 0.7em 0 0.7em 0;
    width: 100%;
}

#menuProdotti  li {
    padding: unset;
    flex-grow: 1;
}

#menuProdotti #btn_chitarre,#menuProdotti #btn_accessori{
padding: unset;
}

#menuProdotti .link{
    padding: 0.7em 0 0.7em 0;
    font-size:2.1em;
    text-align: center;
}

#form_filtri{
    display: none;
    
}

#btnFiltri{
    display: unset;
    background-color: #ec9b30;
    text-align: center;
    font-size: 2.1em ;
    width: 100%;
    position: relative;
    top: 0.5em;
    padding: 0.5em 0;
    

}

#produttore, #tipologia{
    width: 100%;
    padding: 0.3em;
    margin-bottom: 7%;
}

/*-------------------------------------------------------------------------------------
------------------------------SPECIFICHEPRODOTTO------------------------------------*/

#specifiche_prodotto
{
    width:200px;
}


/*------------------------------------------------------------------------------------
------------------------------FOOTER------------------------------------------------*/

.icone_footer{
    margin-top: 1.3%;
}





