.chitCard a, .accCard a{
    width: 40%;
    color: #000;
    text-decoration: none; 
}

.chitCard, .accCard{
 margin-left: 10% ;
 margin-right: 10% ;
}

.chitCard li, .accCard li{
    margin-right:1.5%;
    font-size: 1.15em;
   
}

.chitCard li.chitarre_prodotti{
  
    width: 80%;
    margin-right: unset;
}

li.chitarre_prodotti{
    float: right;
    margin-left: 1em;
}


.chitCard a.a_page_prodotti{
    width: 33%;
    
   
}


#menuProdotti li{
    font-size:81.5% ;
}

li.chitarre_prodotti{
    font-size: 99%;
}

.page_prodotti.chitCard{
    margin-right:1em;
    margin-left:unset;
}

