.chitCard a, .accCard a{
    width: 40%;
    color: #000;
    text-decoration: none; 
}

.chitCard, .accCard{
 margin-left: 10% ;
 margin-right: 10% ;
}

.chitCard li, .accCard li{
    
    font-size: 1.15em;
   
}

.chitCard li.chitarre_prodotti{
    width: 80%;
    margin-right: unset;
}

li.chitarre_prodotti{
    float: right;
    margin-left: 1em;
}


.chitCard a.a_page_prodotti{
    width: 33%;
    
   
}

#imgError{
    display: none;
}

.hError{
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}

#pError{
    font-size: 2em;
    font-weight: 100;
    padding: 0 2em 0 2em ;
}

#errorDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30em;
}

#menuProdotti li{
    font-size:81.5% ;
}

li.chitarre_prodotti{
    font-size: 99%;
}

.page_prodotti.chitCard{
    margin-right:1em;
    margin-left:unset;
}

