  /*-----------------------------------------------------------------------------------
 ---------------------HEADER-------------------------------------------------------*/

 #header{
    padding-top: 1.5em;
    padding-bottom:1.5em;
    display: flex;
    justify-content: space-between;
 }

 #logo{
     width:60%;
     
  
     
 }


 #menu{
     display:block;
     background-image: url('../Images/menumobile.png');
     background-position: center;
     background-repeat: no-repeat;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    float:right;
    margin-top: 1%;
    margin-right: 4% ;
    
 
  
 }
 
#accesso{
    display: none;
}

 #menu a{
     display:none;
 }

 #menu #linkCorrente{
     display:none;
 }



#accesso input{
    display:none;
}

/*----------------------------------------------------------------------------------
---------------------------CONTENUTOHOME---------------------------------------*/
.chitCard, .accCard{  
    display:inline-block; 
    margin-left: 10%;
    width:80%
}

.chitarre{
    width:50%;  
}

.accessori{
    width:50%;  
}

p{
    font-size:1.8em;
}

.contenuto h1{
    font-size:4em;
}



/*------------------------------------------------------------------------------------
------------------------------FOOTER------------------------------------------------*/